/* navbar */
#Navbar {
  background-color: transparent;
  /* 배경 투명 설정 */
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #f5f5f5ab;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.navbar .nav-link.dropdown-toggle::after {
  display: none !important;
  /* 드롭다운 화살표 숨김 */
}



/* Swiper */
#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide-img {
  width: auto;
  height: 100%;
  background-size: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-style: oblique;
}

/* cardView */
.card {
  border-radius: 50px;
  border-style: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card:hover{
  transform: translate(-10px, -10px);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.Card.Img{ 
  /* margin-bottom: 40rem;
  background: #e2e2e2 center bottom no-repeat;
  min-height: 150rem; */
  border-radius: 10rem;
  background-size: 130rem;
  background-position: 50% 50%;
  height: 200rem;
  overflow: hidden;
  width: 100%;}

.cardViewFirst{
  /* background-image: url(../../../public/img/bird.png); */
  background-color:#9d979729;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  font-weight: bold;
  color: #000000;
}

.cardViewSec {
  /* background-image: url(../../../public/img/dokdo3.jpg); */
  background-color: rgba(248, 248, 248, 0); 
  /* background-size: cover;
  background-repeat: no-repeat; */
  width: 100%;
  height: 300px;
  font-weight: bold;
  color: #000000;
}

/* center */


/* footer */
.footer {
  background-image: url(../../../public/img/footerimg2.png);
  border-top-left-radius: 200px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: #eee;

  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.footer .container{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 10px;

}

.footerlist {
  display: flex;
  list-style-type: none;
  padding-top: 40px;
}

.footerlist li {
  margin-right: 30px;
}

.footerlist li a {
  text-decoration: none;
  color: #eee;
}